@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;500;700;900&display=swap")
// @import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;600&display=swap')
$desktop: 1025px
$tablet: 1024px
$mobile: 767px
$skyblue: #d4fffe
$lakegreen: #acff97
$semi-trsp: rgba(#eee, 0.35)
@mixin font-zh($sz, $wt)
    //wt is in 300, 500, 700, 900
    font-family: "Noto Serif TC", serif
    font-weight: $wt
    font-size: $sz
// @mixin font-en($sz, $wt)
//     //wt is in 400, 600
//     font-family: 'Newsreader', serif;
//     font-weight: $wt
//     font-size: $sz
*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    width: 100%
    height: 100%
    overflow: hidden

    background: linear-gradient(0deg, $lakegreen 0%, $skyblue 80%)
    // background-color: #666
    @media screen and (min-width: $desktop)
        font-size: 18px
    @media screen and (min-width: $tablet)
        font-size: 16px
h1
    margin: 1rem
    @include font-zh(2rem, 700)
    text-align: center
hr
    margin: 0 auto
    width: 60%
//* param
$gap: 0.75rem
$unit-l: 2rem
$padding: 3*$gap
$leng: 7*$unit-l + 6*$gap + 2*$padding
// param END
//* 翻牌效果的設定
.frame
    width: $leng
    height: $leng
    margin: 3rem auto 0
    // background-color: transparent
    perspective: 1000px
    // 3D效果的必要設定
    .card
        position: relative
        width: 100%
        height: 100%
        transition: transform 0.8s
        transform-style: preserve-3d
        // 3D效果的必要設定
    &-active .card
        transform: rotateY(180deg)
        // for 回復時的翻轉效果
    .card
        &-front, &-back
            position: absolute
            backface-visibility: hidden
            // 專門 for 翻轉的3D效果
        &-back
            transform: rotateY(180deg)
            // for 回復時的翻轉效果
// 翻牌效果的設定 END
//* 月曆的樣式
.calendar
    background-image: linear-gradient(#ddf9f7, #c3f9b6)
    // background-color: lightGoldenRodYellow
    padding: $padding
    display: grid
    grid-template-columns: repeat(7, 1fr)
    gap: $gap
    width: $leng
    height: $leng
    border-radius: $gap
    > div
        width: $unit-l
        height: $unit-l
        $thick: 3px
        box-shadow: $thick $thick $thick rgba(#000, 0.5)
        background-color: burlywood
        &:not(.r-h):active
            transform: translate($thick, $thick)
            filter: brightness(0.8)
            box-shadow: none
    .r-h
        $thick: 3px
        background-color: $lakegreen
        box-shadow: $thick $thick $thick rgba(#000, 0.2),
        0 0 $thick rgba(#000, 0.2) inset
        @include font-zh(($unit-l - 1rem), 900)
        text-align: center
        cursor: context-menu
    .r
        filter: invert(0.1)
    .r-btn
        background-color: $semi-trsp
        &-active
            background-color: burlywood
            filter: sepia(0.8)
// 月曆的樣式 END
//* 切換鈕的樣式
#btn
    width: 50px
    height: 50px
    margin: 30px auto
    border-radius: 40%
    background-color: burlyWood
    $btn-h: 10px
    box-shadow: 0 $btn-h #999
    transition: 0.3s ease-out
    &:active
        transform: translateY($btn-h)
        box-shadow: none
// 切換鈕的樣式 END
